In [27]:
import sys

# Variables

* A python variable is a reserved memory location to store values. A variable is created the moment you first assign a value to it.

In [1]:
p = 30

In [2]:
a = 4  #create a variable a and assign the value 4.

In [3]:
a   #This is how we call variable

4

# Functions

In [7]:
#print function is used to print the outputs
print(a)

4

In [8]:
print("This is print function")

This is print function

In [9]:
#To know the data type of python object
type(a)

int

In [6]:
'''
id() function returns the "identity" of the object.
The identity of an object - Is an integer
 - Guranteed to be unique
 - Constant for this object during its lifetime.
'''
id(p)

2632516857040

In [10]:
#Memory address of the variable
hex(id(p))

'0x264ee3b6cd0'

In [11]:
p = 20
q = 20
r = q

In [12]:
type(p), hex(id(p))

(int, '0x264ee3b6b90')

In [19]:
type(q), hex(id(q))

(int, '0x264ee3b6b90')

In [20]:
 r, type(r), hex(id(r))

(20, int, '0x264ee3b6b90')

### Variable Assignment

In [21]:
intvar = 10    # integer variable
floatvar = 2.57  #float variable
strvar = "Python Language"   # String variable
print(intvar)
print(floatvar)
print(strvar)

10
2.57
Python Language

### Multiple Assignment

In [22]:
#using commas to saperate variables
intvar, floatvar, strvar = 10,2.57,"Python Language"
print(intvar)
print(floatvar)
print(strvar)

10
2.57
Python Language

In [23]:
print(intvar, floatvar, strvar)

10 2.57 Python Language

In [26]:
# All variables poinint to same value
p1 = p2 = p3 = p4 = 44
print(p1,p2,p3,p4)

44 44 44 44

# Data Types

In [28]:
val1 = 10 #integer data type
print(val1)
print(type(val1)) #type of oject
print(sys.getsizeof(val1)) #size of integer object in bytes
print(val1,"Is integer?", isinstance(val1, int)) #val1 is an instance of int datatype

10
<class 'int'>
28
10 Is integer? True

In [29]:
val2 = 69.70 #float data type
print(val2)
print(type(val2)) #data_type of oject
print(sys.getsizeof(val2)) #size of float object in bytes
print(val1,"Is float?", isinstance(val2, float)) #val2 is an instance of int datatype

69.7
<class 'float'>
24
10 Is float? True

In [32]:
val3 = 25 + 10j #float data type
print(val3)
print(type(val3)) #data_type of oject
print(sys.getsizeof(val3)) #size of object in bytes
print(val3,"Is complex?", isinstance(val3, complex)) #val3 is an instance of complex datatype

(25+10j)
<class 'complex'>
32
(25+10j) Is complex? True

# Boolean

* Boolean data type can only have two possible values True or False

In [34]:
bool1 = True

In [35]:
bool2 = False

In [36]:
type(bool1)

bool

In [38]:
isinstance(bool1, bool)

True

In [39]:
isinstance(bool2, bool)

True

In [55]:
print(bool(1))
print(bool(2324))
print(bool(0))
print(bool(-23))

True
True
False
True

In [47]:
bool(0) #Anything apart from 0 everything is True

False

# String

### String Creation

In [2]:
str1 = "Helo Python"
print(str1)

Helo Python

In [60]:
str2 = 'Welcome home'
str2

'Welcome home'

In [64]:
str3 = 'Woohoo '
str3 = str3 * 5
str3

'Woohoo Woohoo Woohoo Woohoo Woohoo '

### String Indexing

In [5]:
str1 = "HELLO WORLD"

In [75]:
str1[7]

'O'

In [76]:
str1[-3]

'R'

In [77]:
#lenght of the string
len(str1)

11

In [78]:
#last character in string using len function
str1[len(str1)-1]

'D'

In [79]:
str1[-1]

'D'

### String Slicing

In [6]:
str1

'HELLO WORLD'

In [8]:
#string slicing - fetch all characters from 0 to 5 index
#location excluding the upper limit
str1[0:5]

'HELLO'

In [9]:
str1[6:12]

'WORLD'

In [12]:
str2= "data is new fuel"
str2[8:11]

'new'

In [13]:
str1

'HELLO WORLD'

In [16]:
str1[-4:]

'ORLD'

In [17]:
str1[-11:-6]

'HELLO'

In [18]:
str2[-1:-11]  #slicing is done always from left to right

''

In [20]:
str1[:]  #all characters

'HELLO WORLD'

In [22]:
str1[:6]

'HELLO '

In [23]:
str1[4:]

'O WORLD'

### Update and delete String

* strings are immutable which means elements of a string cannot be changed once they are assigned with the value

In [24]:
str1

'HELLO WORLD'

In [25]:
str1[0:5]= "Heya"

TypeError: 'str' object does not support item assignment

In [26]:
#deleteing a string
del str1

In [27]:
str1

NameError: name 'str1' is not defined

### String Concatenation

In [36]:
s1="data"
s2="science"
s3=s1+" "+s2
print("the concatenation of the string is:", s3)

the concatenation of the string is: data science

### String Membership

In [37]:
mystr1 = "Hello Everyone"

In [38]:
#chech whether substring "Hello" is present in given string
print("Hello" in mystr1)

True

In [40]:
print("Everyone" in mystr1)

True

In [42]:
print("welcome" in mystr1)

False

### String partioning

In [43]:
str2 = "Natural language processing with python and R and Java"
L = str2.partition("with")

In [44]:
print(L)

('Natural language processing ', 'with', ' python and R and Java')

### String Function

In [46]:
mystr2 = " Hello Karnataka "
mystr2

' Hello Karnataka '

In [48]:
#Remove the white space from beginning & end
mystr2.strip()

'Hello Karnataka'

In [49]:
#Remove the white space at the end of the string
mystr2.rstrip()

' Hello Karnataka'

In [50]:
#Remove the white space at the beginning of the string
mystr2.lstrip()

'Hello Karnataka '

In [51]:
mystr2

' Hello Karnataka '

In [60]:
mystr3 = "@@@@@Hello Bois@@@@@How are you@@@@@"
mystr3

'@@@@@Hello Bois@@@@@How are you@@@@@'

In [61]:
#remove all the special characters from the beginning and end
mystr3.strip("@")

'Hello Bois@@@@@How are you'

In [62]:
mystr3.rstrip("@")

'@@@@@Hello Bois@@@@@How are you'

In [63]:
mystr3.lstrip("@")

'Hello Bois@@@@@How are you@@@@@'

In [65]:
print(mystr3.lower())
print(mystr3.upper())

@@@@@hello bois@@@@@how are you@@@@@
@@@@@HELLO BOIS@@@@@HOW ARE YOU@@@@@

In [66]:
mystr3

'@@@@@Hello Bois@@@@@How are you@@@@@'

In [67]:
mystr3.replace("He","Hi")

'@@@@@Hillo Bois@@@@@How are you@@@@@'

In [68]:
mystr3.replace("Hello","Hopeless")

'@@@@@Hopeless Bois@@@@@How are you@@@@@'

In [73]:
mystr4= "one two three one two two three"

In [75]:
mystr4.count("two")

3

In [76]:
mystr4.count("o")

5

In [78]:
mystr4.count("e")

6

In [80]:
mystr4.startswith("one")  #Returns boolean value

True

In [83]:
mystr4.endswith("three")

True

In [84]:
mystr4.endswith("two")

False

In [86]:
mystr5 = "one two three four one two two three five five six seven six seven one one one ten eight ten nine eleven ten ten nine"

In [87]:
mystr5.split()

['one',
 'two',
 'three',
 'four',
 'one',
 'two',
 'two',
 'three',
 'five',
 'five',
 'six',
 'seven',
 'six',
 'seven',
 'one',
 'one',
 'one',
 'ten',
 'eight',
 'ten',
 'nine',
 'eleven',
 'ten',
 'ten',
 'nine']

In [88]:
mystr5.split("e")

['on',
 ' two thr',
 '',
 ' four on',
 ' two two thr',
 '',
 ' fiv',
 ' fiv',
 ' six s',
 'v',
 'n six s',
 'v',
 'n on',
 ' on',
 ' on',
 ' t',
 'n ',
 'ight t',
 'n nin',
 ' ',
 'l',
 'v',
 'n t',
 'n t',
 'n nin',
 '']

In [94]:
#combining srings and numbers using format method
item1 = 40
item2 = 55
item3 = 75
res = "cost of item1, item2 and item3 are {}, {} and {}"
print(res.format(item1,item2,item3))

cost of item1, item2 and item3 are 40, 55 and 75

In [95]:
a= 5 
b= 3
c= 9
print("the value a is {} and the value of b is {} value of c is {}" .format(a,b,c))

the value a is 5 and the value of b is 3 value of c is 9

# Typecasting

### Auto Typecasting

* the python interpretor automatically converts one data type to another without any user involvement

In [97]:
4 + 5.67 + False
# 4.0 + 5.67 + 0.0 (Background processing of the code) due to the high

9.67

In [98]:
4 + 5.67 + False + True

10.67

In [99]:
4 + 3 + 'data' + 6.7

TypeError: unsupported operand type(s) for +: 'int' and 'str'

In [100]:
True + 3.6  #True is convet int 1 / true:1, Flase:0

4.6

### Forced typecasting

In [101]:
a = 9.7

In [102]:
type(a)

float

In [103]:
#convert float type to int 
a = int(9.7)
a

9

In [105]:
int(a)

9

In [108]:
int("data")

ValueError: invalid literal for int() with base 10: 'data'

In [109]:
int("2")

2

In [115]:
int(True)

1

In [112]:
int(False)

0

In [116]:
float(5)

5.0

In [117]:
float(True)

1.0

In [119]:
a = 'abc'
float(a)

ValueError: could not convert string to float: 'abc'

In [120]:
bool(7.8)

True

In [122]:
bool(0)

False

In [123]:
bool(-1)

True

In [124]:
print(int(1.5)+4+bool(0))
print(int(5.6)+float(6)+bool(23))
print(int(6.5)+1.2+int(5.5)+bool(0))

5
12.0
12.2

In [125]:
str(5)

'5'

In [127]:
str(9.0)

'9.0'

In [128]:
str(True)

'True'

## Operator

In [11]:
a = 5 
b = 3
x = "Data"
y = "Science"

In [12]:
#addition
c = a + b
print("Addition of {} and {} will give :- {}\n".format(c,a,b))

Addition of 8 and 5 will give :- 3

In [4]:
#Substraction
c = a-b
print("Substraction of {} and {} will give :- {}\n".format(a,b,c))

Substraction of 5 and 3 will give :- 2

In [5]:
#Multiplication
c = a * b
print(c)

15

In [14]:
#Division(floor)
c = a // b   #Chopping thr decimal
print("floor divisiom of {} and {} will give :- {}\n".format(a,b,c))

floor divisiom of 5 and 3 will give :- 1

In [9]:
#modulo of both number
c = a % b
print("Modulo of {} and {} will give :- {}\n".format(a,b,c))

Modulo of 5 and 3 will give :- 2

In [12]:
#power
c = a ** b
print("{} raised to the power {} will give :- {}\n".format(a,b,c))

5 raised to the power 3 will give :- 125

### Comparision Operators

In [13]:
x = 20
y = 30
print("Is x is greator than y :- ", x>y)
print("Is x is less than y :- ", x<y)
print("Is x is equal than y :- ", x==y)
print("Is x is not  equal than y :- ", x!=y)
print("Is x is greator than or equal to y :- ", x>=y)
print("Is x is less than or equal to y :- ", x>=y)

Is x is greator than y :-  False
Is x is less than y :-  True
Is x is equal than y :-  False
Is x is not  equal than y :-  True
Is x is greator than or equal to y :-  False
Is x is less than or equal to y :-  False

In [ ]:
a = "Data"
b = "Science"
c = "Data"

a == b,
a == c,
a != b #Comparision operators on st

## Logical Operators

In [1]:
x = True
y = False

print('Logical  AND  operation  :-  ',x  and  y)  #  True  if  both  values  are  true
print('Logical  OR  operation  :-  ',x  or  y)  #  True  if  either  of  the  values  is  true
print('NOT  operation  :-  ',not  y  )  #  True  if  operand  is  false

Logical  AND  operation  :-   False
Logical  OR  operation  :-   True
NOT  operation  :-   True

## Bitwise operators

In [2]:
x = 18# binary form 10010
y = 6# binary form 00110

print('Bitwise  AND  operation  -  {}'.format(x&y)) 
print('Bitwise OR operation - {}'.format(x|y))

Bitwise  AND  operation  -  2
Bitwise OR operation - 22

## If  conditional statement

* A Python if statement evaluates whether a condition is equal to true or false.
* The statement will execute a block of code if a specified condition is equal to true. Otherwise, the block of code within the if statement is not executed

In [3]:
x=2
if x==2: # If condition is true
    print('The if condition is true')

The if condition is true

In [11]:
x=5
if x==2:# If condition is false
    print('The if condition is true')

In [7]:
x=5
if x==2: # If condition is false
    print('The if condition is true')
else:
    print('Else part is executed')

Else part is executed

In [8]:
x=-23
if(x>0):
    print('i am in if block')
else:
    print('i am not')

i am not

In [9]:
if(5<4):
    print('5 is big')
    print('i am in if block')



print('i am out of if block')

i am out of if block

In [10]:
# if ... else

x = -5

if x>0:
    print("X is positive")
    print("i am in IF block")
else:
    print("X is Negative")
    print('i am in else block')
    
print("i am  out of IF block")

X is Negative
i am in else block
i am  out of IF block

In [1]:
x = 5
if x==2:
    print("the if condition is true")
else:
    print("Else part is executed")

Else part is executed

In [2]:
x = 1
if (x>0):
    print("i am in if block")
else:
    print("i am not")

i am in if block

In [6]:
if(5<4):
    print("5 is big")
    print('i am in if block')
    
print('if am out of if block')

if am out of if block

In [11]:
x = 5
if(x>10):
    print("i am in if block")
elif(x<6):
    print("i am in elif block")
else:
    print("i am in else block")

i am in elif block

## Input function

In [12]:
a = input("Enter your name: ")

Enter your name: Sagar

In [13]:
a

'Sagar'

In [15]:
type(a)

str

In [18]:
b = int(input("Enter your marks: "))
b

Enter your marks: 35

35

In [17]:
type(b)

int

In [2]:
##Nesting
x = 4
if(x>=5):
    print("i am in 1st if")
    if(x>4):
        print("i am in 2nd if")
        if(x==4):
            print("i am in 3rd if")

# Packages

### Datetime package

In [5]:
from datetime import date

In [6]:
my_date = date(1996,12,11)

In [7]:
my_date

datetime.date(1996, 12, 11)

In [9]:
#Getting today's date
today = date.today()
print("Today's date is", today)

Today's date is 2022-03-04

In [11]:
#get today's year, month, date
print("current year:", today.year)
print("current month:", today.month)
print("current day:", today.day)

current year: 2022
current month: 3
current day: 4

# 07-03-2022

# Datetime

In [1]:
#Get date from datetime sub module
from datetime import datetime as dt

date1 = dt.now()
date1

datetime.datetime(2022, 3, 7, 10, 14, 42, 939477)

In [2]:
dt.date(date1)

datetime.date(2022, 3, 7)

In [3]:
date1.day

7

In [4]:
date1.hour

10

In [6]:
date1.isoweekday()

1

In [9]:
date1.month

3

In [5]:
#Time submodule

from datetime import time

In [6]:
my_time = time(13,24,36)
print("Enter time", my_time)

Enter time 13:24:36

In [7]:
#Time deta function demonstration

from datetime import date, timedelta

current_time = date.today()

#printing initial_date
print("Initial_date", str(current_time))

#calculating future dates
#for two years
future_date_after_2yrs = current_time + timedelta(days=730)
future_date_after_2yrs

Initial_date 2022-03-09

datetime.date(2024, 3, 8)

In [8]:
currentAge = date.today()
birthYear= date(1997, 5, 26)

print("current_age {}".format(currentAge.year - birthYear.year))

futureAge = currentAge + timedelta(days=5000)
print("age_after_5000_days will be {}".format(futureAge.year - birthYear.year)

SyntaxError: unexpected EOF while parsing (Temp/ipykernel_6936/2366049838.py, line 7)