# Data Structures of Python

In [3]:
# list creation

l1 = []   #empty list
print(l1)
type(l1)

[]

list

In [4]:
l2 = list([1,2,3,4]) #list of integers
l2

[1, 2, 3, 4]

In [6]:
l3 = [12.3, 34.5, 56.23, 5]  #list of float
l3

[12.3, 34.5, 56.23, 5]

In [7]:
l4= ["ABC", "DEF", "GHI"]
l4

['ABC', 'DEF', 'GHI']

In [10]:
l5 = ['date', 25, [50, 100], [150,90]]   #Nested list i.e
print(l5)
type(l5)

['date', 25, [50, 100], [150, 90]]

list

In [11]:
l6 = [100, 'data', 56.7]   #list of mixed data type
l6

[100, 'data', 56.7]

In [14]:
len(l5)  #number of elements in list

4

### List indexing and slicing

In [17]:
my_list = ['one', 'two','three','four','five','six','seven']

In [18]:
my_list[2]

'three'

In [19]:
my_list[0:7:2]

['one', 'three', 'five', 'seven']

In [20]:
my_list[0:]

['one', 'two', 'three', 'four', 'five', 'six', 'seven']

### add, remove & change items

In [21]:
list1 = ['one', 'two','three','four','five','six','seven']

In [22]:
list1.append('nine')   #add an item to the ed of the list
list1

['one', 'two', 'three', 'four', 'five', 'six', 'seven', 'nine']

In [28]:
list1.insert(8, 'eight')   # add item at index location 9
print(list1, end=' ')

['one', 'two', 'three', 'four', 'five', 'six', 'seven', 'nine', 'eight', 'eight', 'eight', 'ten', 'ten']

In [29]:
list1.extend([1,3,5])   
list1

['one',
 'two',
 'three',
 'four',
 'five',
 'six',
 'seven',
 'nine',
 'eight',
 'eight',
 'eight',
 'ten',
 'ten',
 1,
 3,
 5]

In [30]:
list1.pop() #remove last element of the list
list1

['one',
 'two',
 'three',
 'four',
 'five',
 'six',
 'seven',
 'nine',
 'eight',
 'eight',
 'eight',
 'ten',
 'ten',
 1,
 3]

In [31]:
list1.pop(7) #remove item at index location

'nine'

In [34]:
list1.remove('eight')
list1

['one',
 'two',
 'three',
 'four',
 'five',
 'six',
 'seven',
 'eight',
 'ten',
 'ten',
 1,
 3]

In [35]:
del list1[8]   #remove item at index location
list1

['one', 'two', 'three', 'four', 'five', 'six', 'seven', 'eight', 'ten', 1, 3]

In [38]:
list1.clear()  #empty list
list1

[]

In [39]:
del list1

In [40]:
list1

NameError: name 'list1' is not defined

### join list

In [41]:
list1 = ['one', 'two', 'three', 'four']
list2 = ['five', 'six', 'seven', 'eight']

In [42]:
list3 = list1 + list2 #join two list by '+' operator
list3

['one', 'two', 'three', 'four', 'five', 'six', 'seven', 'eight']

In [43]:
list1.extend(list2)   #append list2 with list1
list1

['one', 'two', 'three', 'four', 'five', 'six', 'seven', 'eight']

### List membership

In [44]:
'one' in list1  #check if 'one' exist in the list

True

In [45]:
10 in list1

False

In [46]:
if 'three' in list1:     #check if three exist in the list
    print("Three is present in the list")
else:
    print("three is not present in the list")

Three is present in the list

### Reverse & Sort list

In [47]:
list1.reverse()   #Reverse the list
list1

['eight', 'seven', 'six', 'five', 'four', 'three', 'two', 'one']

In [52]:
list1 = list1[::-1]   #Reverse the list1
list1

['one', 'two', 'three', 'four', 'five', 'six', 'seven', 'eight']

In [54]:
list3 = [12, 45,24,76,34,97,16]
list3.sort()     #sort list in assending order
list3

[12, 16, 24, 34, 45, 76, 97]

In [55]:
list3.sort(reverse=True)   #sort list in descending order
list3

[97, 76, 45, 34, 24, 16, 12]

### All / Any

The all() method returns:
True - if all elements in a list are true
Flase - if any element in a list is false

The any() function returns True if any elements in the list is True.
If not, any() returns False.

In [56]:
l1 = [1,2,3,4,5,0]

In [57]:
all(l1)

False

In [58]:
any(l1)     #Will returns true as we have items in the list with
#True value

True

In [59]:
l2 = [1,2,3,4,True,False]
all(l2)   #Retuns false as one value is false

False

In [61]:
any(l2)  #will return True as we have items in the list with

True

# Tuples

In [63]:
tup1 =()
tup1

()

In [64]:
tup2 = (10,30,60)
tup2

(10, 30, 60)

In [66]:
tup3 = (10.77, 30.66, 60)
tup3

(10.77, 30.66, 60)

In [68]:
tup4 = ('one', 'two', 'three')  #tuple of strings
tup4

('one', 'two', 'three')

In [70]:
tup5 = ('data', 25, (50,100),(150,900))
tup5

('data', 25, (50, 100), (150, 900))

In [71]:
tup7 = ('data', 25, [50,100],[150,90],{'john','david'},(99,22,33))
tup7

('data', 25, [50, 100], [150, 90], {'david', 'john'}, (99, 22, 33))

### Tuple Indexing

In [72]:
tup2[0]

10

In [73]:
tup7

('data', 25, [50, 100], [150, 90], {'david', 'john'}, (99, 22, 33))

In [74]:
tup7[2][0]  #Nested indexing - access the first character of tuple

50

In [81]:
tup8 = ('data', 25, [50, 100], [150, 90], ('david', 'john'), (99, 22, 33))

In [83]:
tup8[4][0]

'david'

### Tuple slicing

In [84]:
mytuple = ('one', 'two', 'three', 'four', 'five', 'six', 'seven', 'eight')

In [85]:
mytuple[0:3]

('one', 'two', 'three')

### Remove and change items

In [86]:
del mytuple[0]
mytuple    #Tuples are immutable which means we cannot delete the items

TypeError: 'tuple' object doesn't support item deletion

In [87]:
mytuple[0] = 1

TypeError: 'tuple' object does not support item assignment

In [89]:
del mytuple   #Deleting entire element tule object is possible
mytuple

NameError: name 'mytuple' is not defined

### Count

In [1]:
mytup1 = ('one', 'two', 'three', 'four', 'one', 'one', 'two', 'three')

In [91]:
mytup1.count('one')

3

In [93]:
mytup1.index('four')

3

In [94]:
bool(0)

False

In [ ]:
print("two" in mytup1)

### Tuple Membership

In [4]:
mytup1

('one', 'two', 'three', 'four', 'one', 'one', 'two', 'three')

In [2]:
"one" in mytup1   #Check if "one" exist in the tuple

True

In [3]:
if "three" in mytup1:
    print("three is present in the tuple")
else:
    print("three is not present in the tuple")

three is present in the tuple

### Index Position

In [5]:
mytup1.index("four")

3

### Sorting

In [6]:
mytuple2 = (43,67,99,12,6,90,67)

In [7]:
sorted(mytuple2)    #Returns a new sorted list and doesn't check

[6, 12, 43, 67, 67, 90, 99]

In [8]:
sorted(mytuple2, reverse=True)  #sort in decending order

[99, 90, 67, 67, 43, 12, 6]

# Sets

* unordered unindexed collection of elements. 
* Set elements are unique. Duplicated elements are not allowed. 
* Set elements are immutable (cannot be changed).
* Set itself is mutable. We can add or remove items from it.

### Set Creation

In [9]:
myset1 = {}   #Empty set cannot be created by curly braces

In [10]:
type(myset1)

dict

In [11]:
myset = set()   #creat an empty set
print(type(myset))

<class 'set'>

In [12]:
myset = {1,2,3,4,5}   #Set of numbers
myset

{1, 2, 3, 4, 5}

In [13]:
len(myset)  #lenght of number of elements of set

5

In [15]:
my_set = {1,1,2,2,3,4,5,5}
my_set    #Duplicates are not allowed

{1, 2, 3, 4, 5}

In [17]:
myset1 = {1.79, 2.34, 6.79, 4.53, 1.79, 4.76}
myset1

{1.79, 2.34, 4.53, 4.76, 6.79}

In [18]:
myset2 = {"hello", "welcome", "tata", "birla"}   #set of strings
myset2

{'birla', 'hello', 'tata', 'welcome'}

In [21]:
myset3 ={12,23,"Hello", (11,22,33)}    #mixed data type
myset3

{(11, 22, 33), 12, 23, 'Hello'}

### Set Membership

In [23]:
myset = {'one', 'two', 'three', 'four', 'one', 'one', 'two', 'three'}
myset

{'four', 'one', 'three', 'two'}

In [25]:
"one" in myset

True

In [27]:
if "three" in myset:
    print("three is present in the set")
else:
    print("three is not present in the set")

three is present in the set

### Add & Remove Items

In [29]:
my_set

{1, 2, 3, 4, 5}

In [30]:
my_set.add("nine")
my_set

{1, 2, 3, 4, 5, 'nine'}

In [31]:
my_set.update(['six', 'Seven', 'EIGHT'])
my_set

{1, 2, 3, 4, 5, 'EIGHT', 'Seven', 'nine', 'six'}

In [32]:
my_set.add(1.34)
my_set

{1, 1.34, 2, 3, 4, 5, 'EIGHT', 'Seven', 'nine', 'six'}

In [34]:
my_set.add(True)
my_set

{1, 1.34, 2, 3, 4, 5, 'EIGHT', 'Seven', 'nine', 'six'}

In [36]:
my_set.add(0)
my_set

{0, 1, 1.34, 2, 3, 4, 5, 'EIGHT', 'Seven', 'nine', 'six'}

In [41]:
my_set.add(False)

In [39]:
my_set

{0, 1, 1.34, 2, 3, 4, 5, 'EIGHT', 'Seven', 'nine', 'six'}

In [42]:
my_set.remove("nine")   #Remove item in a set using remove function
my_set

{0, 1, 1.34, 2, 3, 4, 5, 'EIGHT', 'Seven', 'six'}

In [44]:
my_set.discard('EIGHT')   #remove item in a set usuing discard
my_set

{0, 1, 1.34, 2, 3, 4, 5, 'Seven', 'six'}

In [45]:
my_set.clear()   #Delete all the items in a set
my_set

set()

In [48]:
del my_set
my_set

NameError: name 'my_set' is not defined

### Set Operation

In [49]:
a = {1,2,3,4,5}
b = {4,5,6,7,8}
c = {8,9,10}

In [51]:
a | b | c    #Union of a and b (ALl elements from both sets)

{1, 2, 3, 4, 5, 6, 7, 8, 9, 10}

In [52]:
a | b

{1, 2, 3, 4, 5, 6, 7, 8}

In [54]:
a.union(b)

{1, 2, 3, 4, 5, 6, 7, 8}

In [55]:
b.union(a)

{1, 2, 3, 4, 5, 6, 7, 8}

In [56]:
a.union(b , c)

{1, 2, 3, 4, 5, 6, 7, 8, 9, 10}

In [57]:
A = {1,2,3,4,5}
B = {4,5,6,7,8}

In [58]:
A.intersection(B)   # Common elements

{4, 5}

In [59]:
B.intersection(A)

{4, 5}

In [60]:
A.difference(B)   #difference of set. set of elements that are only in A

{1, 2, 3}

In [61]:
B.difference(A)   #difference of set. set of elements that are only in B

{6, 7, 8}

# Dictionary

In [62]:
mydict = dict()
mydict

{}

In [63]:
type(mydict)

dict

In [64]:
mydict = {1: 'one', 2:'two', 3:'three'}     #dictionary with integer key
mydict

{1: 'one', 2: 'two', 3: 'three'}

In [65]:
mydict = dict({1: 'one', 2:'two', 3:'three'}) #Creat dictionary using dict function
mydict

{1: 'one', 2: 'two', 3: 'three'}

In [66]:
mydict = {'A':'one', 'B':'two', 'C':'three'}  #dictionary with character keys
mydict

{'A': 'one', 'B': 'two', 'C': 'three'}

In [67]:
mydict = {1:'one', 'B':'two', 3:'three'}  #dictionary with mixed keys
mydict

{1: 'one', 'B': 'two', 3: 'three'}

In [68]:
mydict.keys()

dict_keys([1, 'B', 3])

In [69]:
mydict.values()

dict_values(['one', 'two', 'three'])

In [73]:
mydict.items()

dict_items([(1, 'one'), ('B', 'two'), (3, 'three')])

In [74]:
mydict[1]

'one'

In [75]:
mydict = {1:'one', 2:'two', 'A':['Data' , 'john', 'Maria']}  
# Dictionary with one value as list
mydict

{1: 'one', 2: 'two', 'A': ['Data', 'john', 'Maria']}

In [76]:
mydict[1]

'one'

In [77]:
mydict['A'][1]

'john'

In [80]:
d = {0:{'one':1, 'two':2, 'three':3, 'four':4,}, 1:{'city':'bangalore', 'area':'kudlu'}, 
     'three':{'city':'mumbai', 'area':'Dharavi'}}

In [81]:
# Access the value kudlu
d[1]['area']

'kudlu'

In [87]:
v = [0,1,2,3,[8,{5:[67,89,90,{'area':'kudlu', 'city':'bangalore'}]}]]

In [90]:
type(v)

list

In [108]:
v[4][1][5][3]['city']

'bangalore'

### Add Remove & Change items

In [1]:
dict1 = {'name': 'data' , 'ID':12345, 'DOB':1991, 'address': 'Helsinki'}
dict1

{'name': 'data', 'ID': 12345, 'DOB': 1991, 'address': 'Helsinki'}

In [2]:
dict1['DOB'] = 1992
dict1['address'] = 'Bailhongal'
dict1

{'name': 'data', 'ID': 12345, 'DOB': 1992, 'address': 'Bailhongal'}

In [4]:
dict1['job'] = 'analyst'
dict1

{'name': 'data',
 'ID': 12345,
 'DOB': 1992,
 'address': 'Bailhongal',
 'job': 'analyst'}

In [5]:
dict1.pop('job')
dict1

{'name': 'data', 'ID': 12345, 'DOB': 1992, 'address': 'Bailhongal'}

In [6]:
dict1.popitem()    #Random item is removed
dict1

{'name': 'data', 'ID': 12345, 'DOB': 1992}

In [7]:
del [dict1['ID']]   
dict1

{'name': 'data', 'DOB': 1992}

In [8]:
dict1.clear()    #Delete all the items from the dictionary
dict1

{}

In [9]:
del dict1
dict1

NameError: name 'dict1' is not defined

# LOOPS

## While Loop:

In python, while loop is uded to execute a block of statements repeatedly until a given a condition is satisfied. And when the condition becomes false, the line immediately after the loop in program is executed.

In [12]:
#Simple while loop causing infinite loop
i = 1
while i < 6:
    print('printing i value : ', i)
    i+=1
    # counter increment is important as it will cause infinite loop

printing i value :  1
printing i value :  2
printing i value :  3
printing i value :  4
printing i value :  5

In [14]:
#While loop with break condition. It is used to stop loop even if while condition is true

i = 1
while i<6:
    print('Printing value of i : ', i)
    if i==3:
        break
    i+=1

Printing value of i :  1
Printing value of i :  2
Printing value of i :  3

In [15]:
# While loop with continue statement.
i = 0
while i<6:
    i+=1
    if i==3:
        continue
        
    print(i)

1
2
4
5
6

In [16]:
# While loop with else statement
i=1
while i<6:
    print(i)
    i+= 1
else:
    print('While loop condition is false')

1
2
3
4
5
While loop condition is false

In [17]:
count= 0
while (count < 3):
    count = count +1
    print("Data Science")

Data Science
Data Science
Data Science

In [18]:
count= 2
while (count < 3):
    count = count +1
    print("Hello")

Hello

## FOR LOOP

Python for loops are used through an iterable object (like a list, tuple, set, etc.) and perform the action for each entry

In [20]:
l = [1,2,3,4,5,6,7,8,9,0,12,34,55]
for  i in l:
    print(i)

1
2
3
4
5
6
7
8
9
0
12
34
55

In [21]:
fruits = ['apple', 'banana', 'mango', 'watermelon']
for i in fruits:
    print(i)

apple
banana
mango
watermelon

In [24]:
s = 'This is data science course'
for i in s:
    print(i)

T
h
i
s

i
s

d
a
t
a

s
c
i
e
n
c
e

c
o
u
r
s
e

#### Range function

In [28]:
for i in range(1,10):   #Range is a generator function which yields number form given starting and end point
    print(i)

1
2
3
4
5
6
7
8
9

In [26]:
for i in range(5):   #Numbers will get generated from 0 and it will go till 4
    print(i)

0
1
2
3
4

In [27]:
for i in range(0,20,2):
    print(i)

0
2
4
6
8
10
12
14
16
18

### Nested loops

In [37]:
loop1= ['Maths', 'Science', 'Geo', 'Eco', 'Social']
loop2= [78,90,70,56,90]

In [39]:
for i in loop1:    #Outer loop
    for k in loop2:     #inner loop
        print(i,k)

Maths 78
Maths 90
Maths 70
Maths 56
Maths 90
Science 78
Science 90
Science 70
Science 56
Science 90
Geo 78
Geo 90
Geo 70
Geo 56
Geo 90
Eco 78
Eco 90
Eco 70
Eco 56
Eco 90
Social 78
Social 90
Social 70
Social 56
Social 90

In [43]:
a = ['red', 'blue', 'green']
b = ['apple', 'banana', 'orange']
for i in a:
    for h in b:
        print(i,h)

red apple
red banana
red orange
blue apple
blue banana
blue orange
green apple
green banana
green orange

In [47]:
for c in l:
    if(c%2==0):
        print('even')
    else:
        print("odd")

odd
even
odd
even
odd
even
odd
even
odd

In [48]:
l

[1, 2, 3, 4, 5, 6, 7, 8, 9]

In [53]:
# Write table of 12
num = 12
for i in range(1,11):
    print(num, 'X',i, '=', num*i)

12 X 1 = 12
12 X 2 = 24
12 X 3 = 36
12 X 4 = 48
12 X 5 = 60
12 X 6 = 72
12 X 7 = 84
12 X 8 = 96
12 X 9 = 108
12 X 10 = 120

In [55]:
city = ['bailur', 'bailhongal', 'Belagavi']
for index in range(len(city)):
    print('Current city : ', city[index])
    
print("Gandu mettida nadu")

Current city :  bailur
Current city :  bailhongal
Current city :  Belagavi
Gandu mettida nadu